.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: 'Inter', sans-serif;
}

.taskHeaders {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  font-size: x-large;
  font-family: 'Madimi One', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.flexButtons {
  display: flex;
  height: 70px;
  max-width: 800px;
  width: 90vw;
  justify-content: space-around;
}

.flexDiv {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  max-width: 800px;
}
